<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style/main.css" type="text/css" />
  <link rel="stylesheet" href="style/character_select.css" type="text/css" />
</head>


<body>
  <div style="text-align:center">
    <h1>FINAL FANTASY XV</h1>
    <h2>CHOOSE YOUR CHARACTER</h2>
  </div>

  <form action="/names" method = "post">
    <div class="player1">
      <label for="player_1_name">PLAYER 1 NAME:</label>
      <input type="text" name="player_1_name"/><br>
      <div class="character-select">
        <input type="radio" name="player_1_char" value="cloud" checked><img src="<%= @game.characters['cloud'] %>"/><br>
      </div>
      <div class="character-select">
        <input type="radio" name="player_1_char" value="lulu"><img src="<%= @game.characters['lulu'] %>"/><br>
      </div>
      <div class="character-select">
        <input type="radio" name="player_1_char" value="sephiroth" checked><img src="<%= @game.characters['sephiroth'] %>"/><br>
      </div>
      <div class="character-select">
        <input type="radio" name="player_1_char" value="vivi" checked><img src="<%= @game.characters['vivi'] %>"/>
      </div>
    </div>
    <div class="player2">
      <label for="player_2_name">PLAYER 2 NAME:</label>
      <input type="text" name="player_2_name"/><br>
      <div class="character-select">
        <input type="radio" name="player_2_char" value="cloud" checked><img src="<%= @game.characters['cloud'] %>"/><br>
      </div>
      <div class="character-select">
        <input type="radio" name="player_2_char" value="lulu"><img src="<%= @game.characters['lulu'] %>"/><br>
      </div>
      <div class="character-select">
        <input type="radio" name="player_2_char" value="sephiroth" checked><img src="<%= @game.characters['sephiroth'] %>"/><br>
      </div>
      <div class="character-select">
        <input type="radio" name="player_2_char" value="vivi"><img src="<%= @game.characters['vivi'] %>"/>
      </div>
    </div>
    <div class="submit">
      <input type="submit" id="submit_button" value= "Submit"/>
    </div>
  </form>
  <div>
      <iframe width="1" height="1" src="https://www.youtube.com/embed/CBeO7fxUPl4?rel=0&amp;controls=0&amp;showinfo=0&amp;&autoplay=1" frameborder="0" allowfullscreen></iframe>
  </div>

</body>

</html>
