<h1>Weep, <%= @game.player_1.name %> and <%= @game.player_2.name %>. The old gods are thirsty for your tears!</h1>

<div><%= @game.player_2.name %> HP: <%= @game.player_2.hp %></div>

<div>
  <form action="/attack" method="post">
    <button name="attack" value="throw_poop">Throw Poop</button>
  </form>
</div>

<% if @attack %>
  <p><%= @game.player_1.name %> threw his own faeces at <%= @game.player_2.name %>!</p>
  <p>Right in the kisser! <%= @game.player_2.name %> now has <%= @game.player_2.hp %> HP remaining...</p>
<% end %>